@model IEnumerable<InventoryManagement.Models.Request>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}
@if (ViewBag.Alert != null)
{

    <script>

            window.onload = function () {
                alert("@ViewBag.Alert");
            };
    </script>
}
<h2>Requests List</h2>
@{
    string check = User.Identity.GetUserName();

    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Firstname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Employee.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.UpdateDateTime)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.UpdateDateTime)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RequestID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RequestID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RequestID }) |

                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Allotment", "Allotment", new { id = item.RequestID })
                        }
                       

                        
                    </td>
                </tr>
            }


        </table>
    }

    else
    {

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.Firstname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Employee.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (check == item.Employee.Email)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Firstname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.UpdateDateTime)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RequestID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.RequestID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.RequestID }) |

                           



                        </td>
                    </tr>
                }
            }

            </table>
        }
    }





