@{
    ViewBag.Title = "Home Page";
}

@*<div class="row">
    <div class="col-md-4">
        <h2>Category</h2>
        <input type="button" value="Get Details" onclick="location.href='@Url.Action("Index", "Categories")'" />
    </div>
    <div class="col-md-4">
        <h2>Item</h2>
        <input type="button" value="Get Details" onclick="location.href='@Url.Action("Index", "Items")'" />
    </div>
    <div class="col-md-4">
        <h2>Purchase</h2>
        <input type="button" value="Get Details" onclick="location.href='@Url.Action("Index", "Purchases")'" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Request</h2>
        <input type="button" value="Get Details" onclick="location.href='@Url.Action("Index", "Requests")'" />
    </div>
    <div class="col-md-4">
        <h2>Allotment</h2>
        <input type="button" value="Get Details" onclick="location.href='@Url.Action("Index", "Allotments")'" />
    </div>
    <div class="col-md-4">
        <h2>Withdraw</h2>
        <input type="button" value="Get Details" onclick="location.href='@Url.Action("Index", "Withdraw")'" />
    </div>
</div>*@

